* {
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
html, body, #app{
    margin: 0;
    height: 100%;
    background-color: #95a5a6;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    margin: 20px;
}

.todos {
    background-color: #f1c40f;
    min-width: 320px;
    max-width: 720px;
}

.todos_title {
    cursor: default;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

.todos_input {
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 10px 20px;
}

.todos_input:focus {
    outline: none;
}

.todos_item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: #ecf0f1;
    padding: 5px;
    border-bottom: solid 1px;
}

.item_delete {
    position: absolute;
    top: 0;
    right: 0;
    color: #c0392b;
    font-size: 30px;
    padding: 0 5px;
    
    transition: 0.1s ease-in-out;
}

.item_delete:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.4);
}

.item_text {
    padding: 5px 0;
    font-size: 15px;
}

.text_overline {
    text-decoration: line-through;
}

.remove_item {
    display: none;
}
